html, body {
   	margin: 0;
   	padding: 0;
    height: 100%;
    background: linear-gradient(45deg, #E6E6FA, #A9A9A9, #808080);
    background-size: cover;
}
.botao{
    height: 50px;
	width: 100px;
    font: 17px 'Aclonica', sans-serif;
    background: #5a7d99;
	color: #fff;
	border: 1px solid #5c5757;
	border-radius: 20px;
	box-shadow: 5px 5px 5px #5c5757;
	text-shadow: none;
    margin: 5px 10px;
}
.botao:hover{
    background: #155688;
	color: #fff;
	border: 1px solid #eee;
	border-radius: 20px;
	box-shadow: 5px 5px 5px #eee;
	text-shadow: none;
}
.sites{
   	position: relative;
    top: 300px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

@media (max-width: 350px){
    .sites{
        top: 150px;
    }
}

@media (min-width: 768px){
    .sites{
        width: 100vw;
    }
    .botao{
        margin: 10px 10px;
    }
}


